  .about-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .about-inner h1 {
    font-size: 36px;
    color: #0b0b0b;
    margin: 0;
    display: inline-block;
    padding-bottom: 10px;
  }
  .about-inner p{

    font-size: 30px;
    margin: 0 20px;
  }
  .about-link{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
  }
  .about-link-inner{

    text-decoration: none;
    font-size: 30px;
    color: black;
    border: 3px solid aqua;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    
  }
  .about-link-inner:hover{
    background-color: rgb(168, 228, 228);
    color: rgb(0, 0, 0);
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  
  .about-video {
    width: 35%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 20px rgba(0, 0, 0, 0.1);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
