*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-box{
   
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2); 
  -webkit-backdrop-filter: blur(10px); 
  backdrop-filter: blur(10px); 
  font-family: 'Arial', sans-serif;
    
}

.form-box h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  
  }
.form-inner{
     
    display: flex;
    flex-direction: column;

}
.form-inner-label{

  margin-bottom: 5px;
  font-weight: bold;
 
        
}
.form-outer-input{
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.form-outer-input:focus {
  border-color: #007bff;
  outline: none;
}
textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
  height: 120px;
  }
textarea:focus {
    border-color: #007bff;
    outline: none;
  }
.form-para p{
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  }
.form-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  }
.form-button:hover {
  background-color: #0056b3;
  }
  .form-box p.success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -10px;
}