
  .section {
    margin-bottom: 60px;
    padding: 20px;
    background-color: #c9c2c2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    animation: fadeInUp 1s ease-in-out;
  }
  .section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #0a18e5; 
    display: inline-block;
    padding-bottom: 10px;
  }
  .history-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .history-content img {
    max-width: 200px;
    border-radius: 8px;
    border: 3px solid #1f5a85; 
    animation: zoomIn 1s ease-in-out;
  }
  .history-content p{
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }