.home-title{
    width: 100%;
}
.home-title h1{
    
     display: flex;
     justify-content: center;
     margin-top: 50px;
     font-size: 50px;
}
.home-title p{
    
    text-align: center;
    margin: 10px 50px;
}
.home-content{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    
    
}
.home-content-left{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 30px;
   
    height: 425px;
}
.home-content-left img{
    
    width: 400px ;
    height: 250px;
    padding: 2px 8px;
    margin: 20px 40px;
    align-items: center;
    
}
.home-content-left P{

    font-size: 20px;
    text-align:justify;
    margin: 0 30px;
}
.home-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
